<!DOCTYPE html>
<html>
    <title>Home</title>

    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">  
<script src="/mainJS/contactJS/contact.js"></script>
<script src="/mainJS/homeJS/home.js"></script>
<script src="/comonfile/logbuttons.js"></script>
<link rel="stylesheet" href="/computercss/mainpagecss/home.css">
<link rel="stylesheet" href="/phonecss/mainpagecss/home.css">
</head>
<body>

<div class="head">
<div class="nav-bar" id="nav-bar">
    <div>
       <h1 class="list-one">Bilodi charity Organisation</h1>
    </div>
    <div>
    <ul>
        
        <li><a href="/About">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>
<div style="display: flex; flex-direction: row;" id="button-top">
    <form method="get" action="loginRequest">
        <button class="btn btn-primary" type="submit" onclick="join()" id="join">JOIN</button>
        </form>
        <form method="get" action="donateRequest" id="dn">
          <button class="btn btn-success" type="submit">Donate</button>
      </form>
</div>
</div>
<div class="top-page">
<div class="title-top">
<div  id="title-text">
<h1>Making a Difference Together</h1>

<h1>Welcome to bilodi</h1>

<div class="text-inside">
<p>Our Charity Organization's Commitment to Collaboration</p>
      <p>At Bilodi charity organization, we believe that collaboration is key to achieving lasting change and empowering communities in need. That's why we work closely with local organizations and community members to identify their needs and create sustainable solutions together.</p>
      
    </div>
</div>
<center>
<div id="logo-img">
  <img src="/bilodiImages/logo.jpg" alt="bilod charity organization logo" id="img-logo">
</div>
</center>

</div>
</div>
<section class="bilodi-head">
  <div>
  <h1>your donation is making a meaningful difference.</h1>
  <p>Our commitment to trust and safety is at the core of everything we do. We take your donation seriously and are dedicated to using it to make a positive impact in the world. So, whether you're donating to support education, healthcare, or other vital initiatives, know that we have your back and are working tirelessly to ensure that your donation is making a meaningful difference.</p>
</div>
</section>

<section class="all-first-news">
  
  <section class="present-news">
    <h2 style="color: green">Fundraising Project Achieves Impactful Results</h2>
    <div class="container0">
      <div class="news0" id="news0">
        <a class="news0" id="news0" href="/news/<%= successfull1_title %>">
          <img src="/bilodiImages/<%= successfull1_img %>" alt="News 1">
          <h2><%= successfull1_title %></h2>
          <p><%= successfull1_description %></p>
          <p class="category"><%= successfull1_category %></p>
        </a>
        </div>
        <div class="news0" id="news0">
        <a  href="/news/<%= successfull2_title %>">
          <img src="/bilodiImages/<%= successfull2_img %>" alt="News 2">
          <h2><%= successfull2_title %></h2>
          <p><%= successfull2_description %></p>
          <p class="category"><%= successfull2_category %></p>
        </a>
        </div>
        <div class="news0" id="news0">
        <a  href="/news/<%= successfull3_title %>">
          <img src="/bilodiImages/<%= successfull3_img %>" alt="News 3">
          <h2><%= successfull3_title %></h2>
          <p><%= successfull3_description %></p>
          <p class="category"><%= successfull3_category %></p>
        </a>
        </div>
        <div class="news0" id="news0">
        <a class="news0" id="news0" href="/news/<%= successfull4_title %>">
          <img src="/bilodiImages/<%= successfull4_img %>" alt="News 4">
          <h2><%= successfull4_title %></h2>
          <p><%= successfull4_description %></p>
          <p class="category"><%= successfull4_category %></p>
        </a>
        </div>
        <div class="news0" id="news0">
        <a class="news0" id="news0" href="/news/<%= successfull5_title %>">
          <img src="/bilodiImages/<%= successfull5_img %>" alt="News 5">
          <h2><%= successfull5_title %></h2>
          <p><%= successfull5_description %></p>
          <p class="category"><%= successfull5_category %></p>
        </a>
        </div>
        <div class="news0" id="news0">
        <a class="news0" id="news0" href="/news/<%= successfull6_title %>">
          <img src="/bilodiImages/<%= successfull6_img %>" alt="News 6">
          <h2><%= successfull6_title %></h2>
          <p><%= successfull6_description %></p>
          <p class="category"><%= successfull6_category %></p>
        </a>
        </div>
      </div>  
  
  
  </section>

</section>


<div class="NWS">

  <div class="container1">
    <div class="news" id="news0">
      <a href="/donation/<%= donationNews1_title %>">
      <img src="/bilodiImages/<%= donationNews1_img %>" alt="News 1">
      <h2><%= donationNews1_title %></h2>
      <p><%= donationNews1_description %></p>
      <p class="date"><%= donationNews1_amount %></p>
     </a>
        <form method="get" action="/donateRequest">
          <button type="submit" class="category">Donate</button>
        </form>
    </div>
    <div class="news" id="news0">
      <a href="/donation/<%= donationNews2_title %>">
      <img src="/bilodiImages/<%= donationNews2_img %>" alt="News 1">
      <h2><%= donationNews2_title %></h2>
      <p><%= donationNews2_description %></p>
      <p class="date"><%= donationNews2_amount %></p>
      </a>
        <form method="get" action="/donateRequest">
          <button type="submit" class="category">Donate</button>
        </form>
    </div>
  
    <div class="news" id="news0">
      <a href="/donation/<%= donationNews3_title %>">
      <img src="/bilodiImages/<%= donationNews3_img %>" alt="News 1">
      <h2><%= donationNews3_title %></h2>
      <p><%= donationNews3_description %></p>
      <p class="date"><%= donationNews3_amount %></p>
    </a>
        <form method="get" action="/donateRequest">
          <button type="submit" class="category">Donate</button>
        </form>
    </div>
    <div class="news" id="news0">
      <a href="/donation/<%= donationNews4_title %>">
      <img src="/bilodiImages/<%= donationNews4_img %>" alt="News 1">
      <h2><%= donationNews4_title %></h2>
      <p><%= donationNews4_description %></p>
      <p class="date"><%= donationNews4_amount %></p>
      </a>
        <form method="get" action="/donateRequest">
          <button type="submit" class="category">Donate</button>
        </form>
    </div>
    <div class="news" id="news0">
      <a href="/donation/<%= donationNews5_title %>">
      <img src="/bilodiImages/<%= donationNews5_img %>" alt="News 1">
      <h2><%= donationNews5_title %></h2>
      <p><%= donationNews5_description %></p>
      <p class="date"><%= donationNews5_amount %></p>
      </a>
        <form method="get" action="/donateRequest">
          <button type="submit" class="category">Donate</button>
        </form>
    </div>
    <div class="news" id="news0">
      <a href="/donation/<%= donationNews6_title %>">
      <img src="/bilodiImages/<%= donationNews6_img %>" alt="News 1">
      <h2><%= donationNews6_title %></h2>
      <p><%= donationNews6_description %></p>
      <p class="date"><%= donationNews6_amount %></p>
      </a>
        <form method="get" action="/donateRequest">
          <button type="submit" class="category">Donate</button>
        </form>
    </div>
    </div> 
  
  <% function defaultValue(value, defaultVal) { %>
    <%= typeof value !== 'undefined' ? value : defaultVal %>
  <% } %>


  <div class="cont">
     <h3 style="color: rgb(249, 252, 249); background-color: rgb(12, 108, 199); border-top-right-radius: 5px; border-top-left-radius: 5px;">PROJECT</h3>
    <div class="news-2" id="news2">
      <div style="background-image: url(''); background-repeat: repeat; background-position: center; font-size: 2em; color: #ddd; text-align: center;">
        <b style="color: black; opacity: 20%;"><%= defaultValue(Project1text, 'Project 1 Text') %></b>
      </div>
      <div class="content">
        <h3 style="word-wrap: break-word;"><%= defaultValue(Project1head, 'Project 1 Head') %></h3>
        <p style="word-wrap: break-word;"><%= defaultValue(Project1description, 'Project 1 Description') %></p>
      </div>
    </div>
    <div class="news-2" id="news2">
      <div style="background-image: url(''); background-repeat: repeat; background-position: center; font-size: 2em; color: #ddd; text-align: center;">
        <b style="color: black; opacity: 20%;"><%= defaultValue(Project2text, 'Project 2 Text') %></b>
      </div>
      <div class="content">
        <h3 style="word-wrap: break-word;"><%= defaultValue(Project2head, 'Project 2 Head') %></h3>
        <p style="word-wrap: break-word;"><%= defaultValue(Project2description, 'Project 2 Description') %></p>
      </div>
    </div>
    <div class="news-2" id="news2">
      <div style="background-image: url(''); background-repeat: repeat; background-position: center; font-size: 2em; color: #ddd; text-align: center;">
        <b style="color: black; opacity: 20%;"><%= defaultValue(Project3text, 'Project 3 Text') %></b>
      </div>
      <div class="content">
        <h3 style="word-wrap: break-word;"><%= defaultValue(Project3head, 'Project 3 Head') %></h3>
        <p style="word-wrap: break-word;"><%= defaultValue(Project3description, 'Project 3 Description') %></p>
      </div>
    </div>
    
    <button class="btn btn-primary"><a href="/project" style="color: white; text-decoration: none;">view more project</a></button>
    <div class="hwtohelp">

      <h2>How You Can Help</h2>
      <p>If you would like to support our work, there are many ways to get involved:</p>
<ul>

<li>Make a donation</li>
<li>Become a volunteer</li>
<li>Spread the word on social media</li>
</ul>
<div class="help-ways">
  <div class="help-way">
    <img src="/bilodiImages/charity1.jpeg" alt="Charity image" style="border-radius: 5px;">
    <h3>Donate Money</h3>
    <p>You can donate money to support our cause. Your donation will help us provide food, shelter, and education to those in need.</p>
    <a href="/donateRequest" class="btn btn-primary">Donate Now</a>
  </div>
  
  <div class="help-way">
    <img src="/bilodiImages/charity3.jpeg" alt="Charity image" style="border-radius: 5px;">
    <h3>Donate Goods</h3>
    <p>You can donate goods such as clothing, books, and toys to help those in need. Your donation will help us improve the lives of the less fortunate.</p>
    <a href="donate-goods-page.html" class="btn btn-primary">Donate Goods Now</a>
  </div>
  

    </div>
  </div>
  </div>

  
  
  


</div>

<section class="main-nws">
  <center>
    <h1 style="color: white;">Bilodi charity director</h1>
    
  </center>
  <img src="/bilodiImages/juukoTell.png" id="bilody-banner" style="width: 100%">
  
  
  </section>
  


<section class="what-do">

  <div class="section">
    <img src="/bilodiImages/charity3.jpeg" alt="Money" id="img">
    <h3 id="h3">How Donations Help Children in Need</h3>
    <p id="p">Bilodi Charity uses the donated money to provide children in Uganda with basic needs such as food, shelter, and education. With your help, we can ensure that these children have access to the resources they need to grow up healthy and reach their full potential.</p>
  </div>
  <div class="section">

    <h3>Our Process for Helping Children in Uganda</h3>
    <p>We work closely with local communities and organizations in Uganda to identify the areas of greatest need. Our team of dedicated volunteers then works tirelessly to provide support to these communities, ensuring that the resources we provide are used effectively and efficiently.</p>
  </div>
  <div class="section">

    <h3>How We're Organized to Help Children and People in Need</h3>
    <p>Bilodi Charity is a grassroots organization based in Kampala, Uganda. Our team is made up of passionate volunteers who are committed to making a difference in the lives of those who need it most. We work closely with local communities and organizations to identify areas of need and provide support where it's needed most.</p>
  </div>


</section>

<div class="footer-page">
<footer>
    <div class="footer-container">
      <div class="footer-left">
        <h3>Make a Donation</h3>
        <p>Your donation can help change lives. Every little bit counts.</p>
        <p>Don't forget that this website is for the BILODI ORGANISATION, a registered nonprofit organization committed to improving the lives of people in need.</p>
      </div>
      <div class="footer-right">
        <form method="get" action="/donateRequest">
          <button type="submit">Donate Now</button>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <h4>About Us</h4>
        <p>BILODI ORGANISATION is a registered nonprofit organization committed to improving the lives of people in need. Learn more about our mission and work.</p>
        <div style="display: flex; flex-direction: row;">
          <a href="http://youtube.com/channel/UC3OGVcVKxh4dJ_TCMWgC4Lg" ><i class="fa fa-youtube" style="font-size: 50px; color: green; margin: 10px;"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100090421141929"><i class="fa fa-facebook" style="font-size: 50px; color: green; margin: 10px;"></i></a>
          <a href="https://twitter.com/JashanJabz?t=fvYEamqjSyPsuD-ZvhZN3w&s=08"><i class="fa fa-twitter" style="font-size: 50px; color: green; margin: 10px;"></i></a>
          <a href="https://www.instagram.com/reel/Cp-Olzvo4Si/?igshid=MDJmNzVkMjY="><i class="fa fa-instagram" style="font-size: 50px; color: green; margin: 10px;"></i></a>
         </div>
      </div>
      <div class="footer-bottom-middle">
        <h4>Get in Touch</h4>
        <ul>
          
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/donateRequest">Support Us</a></li>
          <li><a href="/contact">Volunteer</a></li>
        </ul>
      </div>
      <div class="footer-bottom-right">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <footer class="footer2">
    <div class="footer2-left">
      <a href="#">Privacy Policy</a>
      <span>|</span>
      <a href="#">Terms of Use</a>
    </div>
    <div class="footer2-right">
      <form action="join" method="get">
        <label for="email">Subscribe Now:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email address">
        <button type="submit">Join</button>
      </form>
    </div>
  </footer>
</div>




</body>
</html>