<!DOCTYPE html>
<html lang="en">
    <head>

    <title>BilodiCharity / <%= title %></title>
        
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link rel="canonical" href="http://zarcom.herokuapp.com/<%= title %>">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= title %> ">
<meta property="og:site_name" content="zarcom">
<meta property="og:image" content="/zarcomImages/<%= articleimage %> ">
<meta property="og:description" content="<%= articledescription.replace(/\n/g, '<br>') %> ">
<meta property="og:url" content=" http://zarcom.herokuapp.com/news/<%= title%> ">
<meta property="og:locale" content="en_UG">
<meta name="description" content="<%= articledescription.replace(/\n/g, '<br>') %> ">
<meta name="keywords" content="technology,computers science,technology tips">



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
<link rel="stylesheet" href="/style/compcss.css">
<link rel="stylesheet" href="/style/phone.css">
<link rel="stylesheet" href="/style/news.css">


<script src="/mainjs/home.js"></script>

    </head>
    <%- include('search') %>
    <body>
      <section id="nav-bar">
        <div class="navigation">

            <div class="link">
              <a href="/"><span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><span style="color: rgb(9, 95, 25);">Bilodi</span>Charity</span></a>
                 <button class="btn btn-lg" id="menu-lk"><i class="fa fa-bars" id="bt"></i></button>
            </div>
        <div class="menu-link" id="menu-link">
            <a href="/">Home</a>
            <a href="/article">Article</a>
            <button id="searchx">Search</button>
            <a href="/contact">Contact us</a>
            <a href="">About us</a>
            <a href="/<%= linklog %>" style="color: rgb(243, 247, 243); font-weight: bolder;"><button class="btn btn-success"><%= textlog %></button></a>
        </div>
        </div>
        <div id="userInt">
          <style>
            #other-description{
              display: none;
            }
            #userInt{
               width: 100%;
               background-color: black; 
               padding-top: 5px;
                padding-left: 5px;
                 display: flex; 
                 justify-content: space-between;
            }
            #userInt p{
            color: white;
            font-size: medium;
            padding: 5px;
            transform: scale(.8);
            }
            
            #fa-user{
              border: solid white 2px;
              border-radius: 40%;
              padding: 10px;
              background-color: rgb(14, 97, 153);
            }
            #fa-arrow-down{
              color: red;
            }
            #account{
              border: solid rgb(14, 97, 153) 1px;
              border-radius: 15px;
              padding: 5px;
              cursor: pointer;
              font-size: small;
              transform: scale(0.9);
            }
            #account:hover{
              transform: scale(0.99);
              border: solid rgb(4, 191, 35) 1px;
            }
            
          </style>
          <div style="display: flex;">  
            <p><i class="fa fa-eye"></i><%= views %></p>
            <p><i class="fa fa-user"></i><%= users %></p>
            </div>
          <div>
            <p id="account"><i class="fa fa-user" id="fa-user"></i><%= user %> <i class="fa fa-arrow-down" id="fa-arrow-down"></i></p>
          </div>

        </div>
      </section>
        <section class="content">



<div class="news-article">


  <style>
    
    #bbt{
      border: none;
      font-size: x-large;
      outline: none;
    }
    #bbt:hover{
      color: rgb(4, 200, 4);
    }
    @media screen and (max-width: 800px){
      .text-article{
      transform: scale(.9);
    }
    
    .comment{
      border: none;
      border-radius: 10px;
      background-color: rgb(195, 194, 194);
      width: max-content;
      max-width: 60%;
     word-wrap: break-word;
     padding: 5px;
     margin: 10px;
     line-height:normal;
    }
    #pr{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }

    @media screen and (min-width: 801px){
      #bbt{
      border: none;
      font-size: x-large;
      outline: none;
    }
    #bbt:hover{
      color: rgb(4, 200, 4);
    }
      .comment{
      border: none;
      border-radius: 10px;
      background-color: rgb(195, 194, 194);
      width: max-content;
      max-width: 50%;
     word-wrap: break-word;
     padding: 10px;
     margin: 10px;
     font-size:x-large;
    }
    #pr{
      
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    }
  </style>
  <div class="image">
    <img  src="<%= articleimage %>" crossorigin>
  </div>
  <div class="text-article">
    <h3 id="article-title"><%= articletitle %></h3>
    <p id="article-date"><%= articledate %></p>
    <p id="article-description"> <%- articledescription.replaceAll(/\n/g, '<br>') %> </p>
    <hr>
  
  <div class="fm">
  
  <hr>
    <style>
      @media screen and (max-width: 800px) {
        
      }
      @media screen and (min-width: 801px) {
        .fm{
          width: 40%;
          background-color: gray;
          padding: 40px;
          border-radius: 10px;
        }
        
      }
    </style>
    





</div>

</div>

        
          <section class="others-news">
            <div class="other-x">
            <h2 id="latest-head" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Latest</h2>
            <hr style="color:rgb(94, 40, 1); border: solid rgb(94, 40, 1) 2px;">
            </div>
            <div class="other">
              <a href="/news/<%=  title8 %>" id="other">
                <div id="img-sim">
              <img src="<%= image8 %>" id="other-img1" alt="<%= title8 %>" crossorigin>
            </div>
              <div id="other-text">
               <h3 id="other-head"><%= title8 %></h3>
               <p id="other-date"><%= date8 %></p>
               <p id="other-description"><%= description8 %></p> 
              </div>
              </a>
              <a href="/news/<%= title9 %>" id="other">
                <div id="img-sim">
              <img src="<%= image9 %>" id="other-img2" alt="<%= title9 %>" crossorigin>
            </div>
              <div id="other-text">
                <h3 id="other-head"><%= title9 %></h3>
                <p id="other-date"><%= date9 %></p>
                <p id="other-description"><%= description9 %></p> 
              </div>
              </a>
              <a href="/news/<%= title10 %>" id="other">
                <div id="img-sim">
              <img src="<%= image10 %>" id="other-img3" alt="<%= title10 %>" crossorigin>
            </div>
              <div id="other-text">
                <h3 id="other-head"><%= title10 %></h3>
                <p id="other-date"><%= date10 %></p>
                <p id="other-description"><%= description10 %></p> 
              </div>
              </a>
              <a href="/news/<%= title11 %>" id="other">
                <div id="img-sim">
              <img src="<%= image11 %>" id="other-img4" alt="<%= title11 %>" crossorigin>
            </div>
              <div id="other-text">
                <h3 id="other-head"><%= title11 %></h3>
                <p id="other-date"><%= date11 %></p>
                <p id="other-description"><%= description11 %></p>
              </div>
              </a>
              <a href="/news/<%= title12 %>" id="other">
                <div id="img-sim">
              <img src="<%= image12 %>" id="other-img4" alt="<%= title12 %>" crossorigin>
            </div>
              <div id="other-text">
                <h3 id="other-head"><%= title12 %></h3>
                <p id="other-date"><%= date12 %></p>
                <p id="other-description"><%= description12 %></p>
              </div>
              </a>
              <a href="/news/<%= title13 %>" id="other">
                <div id="img-sim">
              <img src="<%= image13 %>" id="other-img4" alt="<%= title13 %>" crossorigin>
            </div>
              <div id="other-text">
                <h3 id="other-head"><%= title13 %></h3>
                <p id="other-date"><%= date13 %></p>
                <p id="other-description"><%= description13 %></p>
              </div>
              </a>
            </div>

            <style>
              #morex{
                  display: block;
                }
              #more{
                display: none;
              }
            </style>
            <center style="background-color: rgb(9, 243, 13); transform: scale(.9);" id="<%= m %>">
          <a href="/morearticle" style=" margin-bottom: 100px;"><h4 style="color: blue">Read more</h4><i class="fa fa-arrow-down"></i></a>
        </center>
          </section>  
        </section>

        
        <footer>
          <div class="container">
            <div class="row">
              <p>BILODI ORGANISATION is a registered nonprofit organization committed to improving the lives of people in need. Learn more about our mission and work.</p>
              <p>Bilodi Charity uses the donated money to provide children in Uganda with basic needs such as food, shelter, and education. With your help, we can ensure that these children have access to the resources they need to grow up healthy and reach their full potential.</p>
              <div class="col-md-4">
                <h4>Contact Us</h4>
                <ul class="list-unstyled">
                  <li>kamapala , central region</li>
                  <li>Phone: +256753956857</li>
                  <li>Email: bilodicharity.org@gmail.com</li>
                  
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <h4>Follow Us</h4>
                <div class="list-unstyled" style="display: flex; flex-direction: row;">
                    <a href="https://www.facebook.com/profile.php?id=100090421141929"><i class="fa fa-youtube" style="font-size: 50px; color: green; margin: 10px;"></i></a>
                    <a href="https://twitter.com/JashanJabz?t=fvYEamqjSyPsuD-ZvhZN3w&s=08"><i class="fa fa-facebook" style="font-size: 50px; color: green; margin: 10px;"></i></a>
                    <a href="https://www.instagram.com/reel/Cp-Olzvo4Si/?igshid=MDJmNzVkMjY"><i class="fa fa-twitter" style="font-size: 50px; color: green; margin: 10px;"></i></a>
      
                </div>
              </div>
              <div class="col-md-4">
                <h4>message</h4>
                <p>Send a message to BilodiCharity</p>
                <form action="sendmail" method="post">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="message" name="message" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                </form>
              </div>
            </div>
          </div>
          <div id="cond">
                    <a href="/about">About</a>
                    <a href="/privacypolicy">Privacy Policy</a>
                    <a href="/contact">Contact Us</a>
                   <a href="/termsconditions">Terms & conditions</a>
          </div>
        </footer>          
        
    </body>
</html>
